.container {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 20px 19px 0 0;
}
.container .item {
    list-style: none;
    font-size: 12px;
    color: #ACACAC;
    cursor: pointer;
    user-select: none;
}
.container .item.selected {
    color: #333333;
}
.container .item.disabled {
    opacity: .5;
    pointer-events: none;
}